/* Estilos gerais */
body {
  color: var(--white-color);
  background-color: #000000df;
  background-image: url("../../assets/images/background.svg");
}

body.whiteMode {
  background-color: var(--light-white-color01);
  color: #000000;
}

body.whiteMode button {
  color: var(--white-color);
}

body.whiteMode h1 span.highlight {
  background-color: brown;
}

.item_li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 1.3rem;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: color 0.2s;
  font-family: var(--text-font);
}

.item_li:hover {
  color: var(--main-green-color);
}

a {
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 330px) {
  .container .container_header {
    padding: 1rem;
  }
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .container_header {
    display: flex;
    height: 60px;
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-color);
    box-shadow: 2px 2px 20px 1px rgba(44, 44, 44, 0.73);
  }

  .item_li {
    height: 50px;
    padding: 0 40px;

  }

  .btn_hamburguer {
    z-index: 99;
    padding: 1rem;
    cursor: pointer;
  }
  .btn_close {
    cursor: pointer;
  }
  .overlayActive::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor semi-transparente */
    z-index: 0;
  }

  nav {
    top: 0;
    z-index: 100;
    position: absolute;
    right: -250px;
    width: 15rem;
    border-radius: 0px 0px 0px 20px;
    border-left: 8px solid var(--main-green-color);
    border-bottom: 8px solid var(--main-green-color);
  }

  .container_buttons {
    background-color: var(--black-color);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .navList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-green-color);
    border-radius: 0px 0px 0px 10px;
  }

  .navList li {
    list-style: none;
    background-color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 0.3rem;
    box-shadow: inset 0 4px 4.7px 0 rgba(0, 0, 0, 0.5);
  }

  .navList li:hover {
    background-color: #000000d7;
  }

  .navList li:last-child {
    border-radius: 0px 0px 0px 10px;
  }

  nav.open {
    right: -240px;
    transition: 0.9s;
    transform: translateX(100%);
  }
  nav.close {
    right: 0px;
    transition: 0.9s;
    transform: translateX(0%);
  }
}

/* Estilos específicos para desktops */
@media only screen and (min-width: 769px) {
  .container {
    padding: 2rem;
    height: 4rem;
    justify-content: space-between;
    background-color: #000000;
    box-shadow: 2px 2px 20px 1px rgba(44, 44, 44, 0.73);
  }

  .navList .container_buttons {
    padding: 1rem;
  }

  .container,
  ul.navList,
  div.container nav {
    display: flex;
    align-items: center;
  }

  .navList li {

    padding: 10px;
    border-radius: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    box-shadow: inset 4px 4px 4.7px 0 rgba(0, 0, 0, 0.5);
  }

  .btn_hamburguer {
    display: none;
  }

  .btn_close {
    display: none;
  }
  li a.item_li{
    width: 86px;
    padding: 16px; 

  }
}
