/* Estilos para o corpo da página */
body {
  height: 100%;
  overflow-x: hidden;
}

/* Estilos para o container principal */
.container {
  height: 100%;
  margin: auto;
  max-width: 1200px;
  min-height: 300px;
  /* max-height: 80vh; */
  display: flex;
  flex: 1;
  position: relative;
  padding: 40px 20px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

/* Estilos para as seções de conteúdo */
.container .content_section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilos para os títulos */
.container .content_section h1 {
  width: 15rem;
  font-weight: bold;
  font-family: var(--primary-font);
  letter-spacing: 1px;
  margin: 18px 0;
  overflow: hidden;
}

/* Estilos para os parágrafos */
.container .content_section p {
  min-width: 300px;
  max-width: 680px;
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: var(--text-font);
}

/* Estilos para a seção de imagem */
.image_section {
  display: flex;
  /* padding: 10px;*/
  margin: 60px 0; 
  align-items: center;
  justify-content: center;
}

/* Estilos para o destaque dentro dos títulos */
.container .content_section h1 .highlight {
  color: var(--main-green-color);
}

/* Estilos para o container de botões */
.container_btn {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* Estilos para as imagens */
picture img {
  width: 18rem;
}
@media only screen and (max-width: 330px){
  .container{
    width: 280px;
    justify-content: center;
    align-items: center;
  
  }
  picture img {
    width: 18rem;
  }
  .container .content_section p {
    min-width: 250px;
    font-size: 1.0rem;
  }
  
}
/* Estilos para telas maiores que 768px */
@media only screen and (min-width: 768px) {
  .container {
    height: 100%;
    padding: 5rem;
    flex-direction: row;
  }

  .container_btn {
    text-align: start;
  }
}

/* Estilos específicos para telas com largura entre 820px e 884px */
@media only screen and (min-width: 800px) and (max-width: 884px) {
  div .container{
    display: flex;
    flex-direction: column;
 
  }
  picture img {
    width: 24rem;
  }

}
