/* Estilos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    /* Estilos para links ativos dentro de elementos <li> */
    li a.active {
      background-color: #3a9502; 
      text-decoration: underline; 
      text-decoration-color: var(--white-color); 
    }
    li:last-of-type a.active {
      border-radius: 0 0 0 10px; 
    }
  }
  
  /* Estilos para desktops */
  @media only screen and (min-width: 769px) {
    /* Estilos para links ativos dentro de elementos <li> */
    li a.active {

      color: var(--main-green-color); 
      border-radius: 18px; 
      border: 2px solid var(--main-green-color); 
      box-shadow: inset 0 4px 4.7px 0 rgba(128, 128, 128, 0.5); 
    }
  }
  